html,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

*{
    z-index: 1;
}

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 15%; */
    padding: 15px;
    /* width: 40%; */

    border: 3px solid black;
    background-color: blueviolet;
    border-radius: 10px;
}

#presentation > div:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    height: 3em;
    border: 2px solid rgb(86, 26, 143);
    background-color: rgb(105, 34, 172);
}

#presentation > div> input{
    margin-left: 83px;
}

#loadfile{
    display: block;
}

canvas{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
    border-collapse: collapse;
    /*display: none;*/
}

.controls-2d{
    display: flex;
    position: absolute;
    justify-content: space-around;
    left: 0;
    width: 100%;
    top: 89%;
    height: 10%;
    z-index: 0;
    gap: 100px;
    background-color: transparent;
}


.div-width-list,
.div-style-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    border: 4px solid white;
    border-radius: 30px;
    background-color: burlywood;
}

.div-width-list li:hover,
.div-style-list li:hover{
    cursor: pointer;
}


.div-width-list{
    width: 70%;
}

.div-style-list{
    width: 30%;
}


.tag{
    color: blue;
    font-size: 20px;
}

.width-list,
.style-list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    /* padding-right: 16px; */
    height: 85%;
    width: 90%;
    list-style-type: none;
    opacity: 70%;
    margin-block-start: 0%;
}

.width-list li,
.style-list li{
    border: 2px solid white;
    height: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: large;
    background-color: antiquewhite; 
}

.size-selected{
    background-color: red;
}

.size-not-selected{
    background-color: white;
}

.style-list{
    color: black;
}
