body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

canvas{
    height: 400px;
    width: 800px; 
    border: 1px solid black;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: collapse;
}