html,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

*{
    z-index: 1;
}

canvas{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
    border-collapse: collapse;
    /*display: none;*/
}

.controls-2d{
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    top: 90%;
    height: 10%;
    z-index: 0;
    background-color: transparent;
}

.width-list{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.width-list li,
.style-list li{
    border: 2px solid white;
    height: 20px;
    width: 80px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    background-color: antiquewhite; 
}

.size-selected{
    background-color: red;
}

.size-not-selected{
    background-color: white;
}

.style-list{
    color: black;
}